[submodule "snippets"]
	path = snippets
	url = https://github.com/themattchan/more-snippets.git
[submodule "themes/emacs-theme-darktooth"]
	path = themes/emacs-theme-darktooth
	url = https://github.com/bryangarza/emacs-theme-darktooth.git
[submodule "themes/moe-theme.el"]
	path = themes/moe-theme.el
	url = https://github.com/bryangarza/moe-theme.el
[submodule "themes/emacs-material-theme"]
	path = themes/emacs-material-theme
	url = https://github.com/cpaulik/emacs-material-theme.git
[submodule "themes/aurora-theme"]
	path = themes/aurora-theme
	url = https://github.com/xzerocode/aurora-theme.git
[submodule "themes/color-theme-github"]
	path = themes/color-theme-github
	url = https://github.com/dudleyf/color-theme-github.git
[submodule "themes/tao-theme-emacs"]
	path = themes/tao-theme-emacs
	url = https://github.com/bryangarza/tao-theme-emacs
[submodule "themes/flatland-emacs"]
	path = themes/flatland-emacs
	url = https://github.com/gchp/flatland-emacs.git
[submodule "themes/atom-one-dark-theme"]
	path = themes/atom-one-dark-theme
	url = https://github.com/jonathanchu/atom-one-dark-theme.git
