[submodule "snippets"]
	path = snippets
	url = https://github.com/themattchan/more-snippets.git
[submodule "themes/emacs-theme-darktooth"]
	path = themes/emacs-theme-darktooth
	url = https://github.com/bryangarza/emacs-theme-darktooth.git
[submodule "themes/moe-theme.el"]
	path = themes/moe-theme.el
	url = https://github.com/bryangarza/moe-theme.el
[submodule "themes/emacs-material-theme"]
	path = themes/emacs-material-theme
	url = https://github.com/cpaulik/emacs-material-theme.git
[submodule "themes/aurora-theme"]
	path = themes/aurora-theme
	url = https://github.com/xzerocode/aurora-theme.git
